{% extends "basement.html" %}

{% block html_title %}change password{% endblock %}

{% block html_body %}
    <h2>change password</h2>
    <p>please enter your old password and then input the new one.</p>
    {% if form.new_password1.help_text %}
        <p>{{ from.new_password1.help_text|safe }}</p>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <p>{{ form.old_password.label_tag }} {{ form.old_password }}</p>
        <p>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
        <p>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>
        <input type="submit" value="confirm">
    </form>
{% endblock %}