{% extends "basement.html" %}

{% load static %}

{% block html_title %}register yourself{% endblock %}

{% block html_body %}
    <h3>register</h3>
    <form action="{% url "account:register" %}" method="post">
    {% csrf_token %}
    <p>If you have an account, just <a href="{% url "account:login" %}">login us</a></p>
    <p>
        <label for="{{ form.username.id_for_label }}">用户名:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">邮箱</label>
        {{ form.email }}
    </p>
    <p>
        <label for="{{ form.password.id_for_label }}">新建密码:</label>
        {{ form.password }}
    </p>
    <p>
        <label for="{{ form.password2.id_for_label }}">确认密码:</label>
        {{ form.password2 }}
    </p>
    <p>
        <label for="{{ profile.birth.id_for_label }}">出生日期:</label>
        {{ profile.birth }}
    </p>
    <p>
        <label for="{{ profile.birth.id_for_label }}">手机号:</label>
        {{ profile.birth }}
    </p>
    <input type="submit" value="register us">
    </form>
{% endblock %}